body {
    font-family: Arial, sans-serif;
    background-color: #0E1117;
    margin: 0;
    padding: 0;
}
h1 {
    color: #3AD1CF; 
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: #666;
    text-align: center;
    margin-top: 10px;
}
button {
  background-color: #45E6E3;
  color: #0E1117;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3AD1CF; 
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    justify-content: center;

}

form {
    background: #000000;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

